body {
  color: #000;
  background-color: #1f7a8c;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  z-index: 2;
  background-color: #022b3a;
  width: 100%;
  text-align: center;
  font-size: 4vh;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px 20px 0;
  text-transform: capitalize;
}
.content {
  background-color: #bfdbf7;
  width: 70%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  padding: 5px;
  font-family: "poppins";
}
.left,
.right {
  flex: 1;
}
.berita1 {
  margin-top: 100px;
}
p {
  text-align: justify;
}
.berita1,
#berita1 {
  height: 400px;
}
#img1 {
  margin-top: 80px;
}
#img2 {
  margin: 20px 0 0 20px;
}
.berita2 {
  margin-top: 100px;
}
.berita2 h1 {
  margin-left: 15px;
}
.contentProfil {
  background-color: #bfdbf7;
  width: 70%;
  height: 100%;
  margin-top: 50px;
  justify-content: center;
  padding: 15px;
  text-align: center;
  font-family: "poppins";
}
.teksProfil {
  text-align: justify;
  margin: 0 70px 0 70px;
}
.fasilitas1,
.fasilitas2,
.fasilitas3,
.fasilitas4 {
  flex: 1;
  margin-top: 100px;
  padding: 10px 7px 0 7px;
}
.contentFasilitas {
  background-color: #bfdbf7;
  width: 70%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
  font-family: "poppins";
}
.contentProfil {
  background-color: #bfdbf7;
  width: 70%;
  height: 100%;
  margin-top: 50px;
  justify-content: center;
  padding: 15px;
  text-align: center;
  font-family: "poppins";
}
.contentKontak {
  background-color: #bfdbf7;
  width: 70%;
  height: 100vh;
  margin-top: 50px;
  justify-content: center;
  padding: 15px;
  display: flex;
  font-family: "poppins";
}
.map,
.kontak {
  flex: 1;
}
iframe {
  width: 500px;
}
.kontak {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
#fb {
  margin-left: 8px;
  margin-top: 12px;
}
.fb,
.wa {
  display: flex;
}
a {
  text-decoration: none;
  color: #000;
}
.contentDaftar {
  background-color: #bfdbf7;
  width: 70%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  padding: 5px;
  font-family: "poppins";
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;

}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
footer{
    color: white;
    margin:0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}
#footerLeft{
    order: 1;
}
#footerRight{
    order: 2;
}